h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;

}


h3 {
    font-size: 25px;
    color: aliceblue;
}

body {
    background-image: url(img/background2.jpg);
    background-size: 1920px;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
}

li {
    font-size: 20px;
    color: aliceblue;  
}

ul {
    color: white;
}